<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vstarikov.homeworks" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".first.FirstActivity" android:label="1-st homework"/>
        <activity android:name=".second.SecondActivity" android:label="2-nd homework"/>
        <activity android:name=".third.ThirdActivity" android:label="3-rd homework"/>
        <activity android:name=".fourth.FourthActivity" android:label="4-th homework"/>
        <activity android:name=".fifth.FifthActivity" android:label="5-th homework"/>
    </application>

</manifest>
